.input-v1{
    font-family: 'Poppins', sans-serif;
    outline-style: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.09);
    height: 38px;
    padding-left: 0.7rem;
    min-width: 305px;
}

.input-v2{
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        // background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
      }
      
      input[type=text]:focus {
        width: 100%;
      }
}

.input-v3{
        width: 100%;
        border: none;
        border: 1px solid rgba(204, 204, 204, 0.585);
        border-radius: 4px;
        font-size: 16px;
        // background-image: url('/../../assets/png/edit-box.svg');
        padding: 8px;
        padding-left: 8px;
        outline-style: none;
        box-shadow: 0px 1px 5px $box-shadow-black;
}